<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Title</title>
<link type="text/css" rel="stylesheet"
	href="/static/plugs/bootstrap-3.3.7-dist/css/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="/static/css/style.css" />
<script src="/static/plugs/jquery-2.1.1/jquery-2.1.1.min.js"></script>
<script src="/static/plugs/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>
<body>

	<form action="loginUser" method="post">
		<div class="mycenter">
			<div class="mysign">
				<div class="col-lg-11 text-center text-info">
					<h2>请登录</h2>
				</div>
				<div class="col-lg-10">
					<input type="text" class="form-control" name="username"
						placeholder="请输入账户名" />
				</div>
				<div class="col-lg-10"></div>
				<div class="col-lg-10">
					<input type="password" class="form-control" name="password"
						placeholder="请输入密码" />
				</div>
				<div class="col-lg-10"></div>
				<div class="col-lg-10 mycheckbox checkbox">
					<input type="checkbox" class="col-lg-1">记住密码</input>
				</div>
				<div class="col-lg-10"></div>
				<div class="col-lg-10">
					<button type="submit" class="btn btn-success col-lg-12">登录</button>
				</div>
			</div>
		</div>
	</form>

</body>
</html>